/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
   
    
  }
  
  body{
    
    height: 100vh;
    //background-image: url('pexels-lumn-1028599.jpg');
    background-size: cover;
    
  }
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Set the video width to 100% of the viewport width */
    height: 100%; /* Set the video height to 100% of the viewport height */
    object-fit: cover; /* Maintain the video's aspect ratio while covering the entire viewport */
    z-index: -1;
}
  
  /* Style for the navbar */
  .navbar {
    background-color: #55a630;
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
  }
  .navbar{
    border-radius: 0 0 50px 50px;
  }
  .nav-login-regis{
    display: flex;
    flex-direction: row;
    
  }
  a{
    text-decoration: none;
    color: white;
  }
  .brand-title{
    
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    
  }
  
  /* Style for the navigation list */
  .nav-list {
    list-style: none;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: right;
    
    
  }

  .logindiv-nav{
    padding-left: 10px;
    padding-top: 5px;
  }
  h3{
    color: white;
  }
  .regisdiv-nav{
    padding-right: 10px;
    padding-top: 5px;

  }
  
  
  /* Style for each navigation item */
  .nav-item {
    margin: 0 10px;
  }
  
  /* Style for navigation links */
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: lightgray;
  }



  .down-content{
    height: 80%;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    
    
  }
  .left-content{
  
    height: 550px;
    width:  60%;
  
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .right-content{
    
    height: 550px;
    width:  40%;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .consumer{

    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .producer{
    
    margin-left: 1px;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  .volunteer{
    
    margin-left: 1px;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }

  .login{
   
    justify-content: center;
    padding-top: 50px;
  }
  .submitbtn:hover{
      background-color: #777;
  }
  .submit{
    left: 100px;
    
  }

  .logindiv{
    position: relative;
    top: 50%;
    left: 40%;
    width: max-content;
    
  }
  .loginbtn:hover{
    background-color: #777;
  }
  
  
  input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }

  .Pop-up{
    position: absolute;
    top: 20%;
    left: -150%;
    opacity: 0;
    justify-content: center;
    height: 465px;
    width: 400px;
    padding:50px;
   // transform: translate(-50%, -50%); scale(1.25);
    background: #52b69a;
    border-radius: 100px;
    transition:left 0ms slide-in 250ms, 
                opacity 200ms ease-in-out 0s,
                transform 20ms ease-in-out 0s;
  }

  .Pop-up.active{
    
    border-radius: 100px;
    top: 25%;
    left: 65%;
    opacity: 1;
    width: 30%;

   // transform: translate(-50%, -50%); scale(1);
    transition:left 0ms ease-in-out 0ms, 
    opacity 200ms ease-in-out 0s,
    transform 20ms ease-in-out 0s;
  }

  .signupdiv{
    display: flex;
  }
  .signupbtn{
    color: blue;
    padding-left: 5px;
  }
  .signinbtn{
    color: blue;
    padding-left: 5px;
  }

  .Pop-up-regis{
    background: #52b69a;
    position: absolute;
    border-radius: 100px;
    top: 20%;
    left: -150%;
    opacity: 0;
    justify-content: center;
    height: 465px;
    width: 400px;
    padding:50px;
   // transform: translate(-50%, -50%); scale(1.25);
    
    transition:left 0ms slide-in 250ms, 
                opacity 200ms ease-in-out 0s,
                transform 20ms ease-in-out 0s;
  }

  .Pop-up-regis.active{

  
    left: 65%;
    opacity: 1;
    top: 25%;
    width: 30%;
   // transform: translate(-50%, -50%); scale(1);
    transition:left 0ms ease-in-out 0ms, 
    opacity 200ms ease-in-out 0s,
    transform 20ms ease-in-out 0s;
  }